
    <footer id="footer">
        <div class="footer-container">
            <div class="link">
                <h3>Info</h3>
                    <ul id="ul-footer">
                        <li id="li-footer"><a routerLink="/">¿Quienes somos?</a></li>
                        <li id="li-footer"><a routerLink="/contact">Contacto</a></li>
                    </ul>
            </div>
            
            <div class="link">
                <h3>Seguinos</h3>
                    <ul class="ul">
                        <li id="li-footer">
                            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li id="li-footer">
                            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li id="li-footer">
                            <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        </li>
                        <li id="li-footer">
                            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
                        </li>
                    </ul>
            </div>
        </div> 
    </footer>

